/*============================

zendeskヘルプ

=============================*/

@media screen and (max-width: 640px) {//SPオンリー
	iframe#launcher {
		bottom: 80px !important;
	}
}

/*============================

アイキャッチ画像

=============================*/

/* アイキャッチ画像が記事上部に出てしまうのを防ぐ */
.entry-header img {
	display: none !important;
}

#eye-catch-sp {
	display: none;
}

#eye-catch > a > img.order-button {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 40px;
	width: 30%;
}


@media screen and (max-width: 640px) {//SPオンリー
	#main {
		width: auto;
		float: none;
	}

	#eye-catch > a > img.order-button {
		bottom: 60px;
		width: 80%;
	}
}

/*============================

メニュー

=============================*/

@media screen and (min-width: 641px) {//PCオンリー
	/* サイドメニューのstyle調整 */
	.widget_nav_menu ul li {
		padding-left: 0;
	}

	.widget_nav_menu li ul li {
		padding: 10px 0 10px 0;
		border-bottom: thin solid #fff;
		margin-bottom: 0;
	}

	.widget_nav_menu ul ul {
		margin-left: 0;
	}

	.widget_nav_menu ul li:last-child {
		border: none;
	}

	.widget_nav_menu ul li {
		padding-left: 0;
	}

	ul#menu-home > li:first-child,
	ul#menu-smartphone-case > li:first-child,
	ul#menu-goods > li:first-child,
	ul#menu-magazine > li:first-child {
		background-color: #20aee5;
		color: #fff;
		border-radius: 12px 12px 0 0;
	}

	.widget-area .widget a:not(.button) {
		text-decoration: none;
		display: block;
	}

	.widget-area .widget a:not(.button):hover {
		text-decoration: none;
		opacity: 0.6;
	}

	#site-navigation.main-navigation {
		width:100%;
		font-size: 14px;
	}

	#site-header-cart.site-header-cart, .site-search {
		display: none;
	}

	.hover-menu {
		position: relative;
	}

	.hover-menu > ul.sub-menu {
		position: absolute;
		top: 0px;
		left: 200px;
		border-bottom: none;
		display: none;
		border: solid 2px #efefef;
		background-color: #fff;
		padding: 0 10px;
	}

	/* サイドナビのタイトル用 */
	li.menu-item:first-child > a > .fa {
		margin: 10px 2px 10px 10px;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		font-size: 20px;
		background-color: #fff;
	}

	li.menu-item:first-child > a > .fa-home:before,
	li.menu-item:first-child > a > .fa-book:before {
		color: #20aee5;
		font-size: 14px;
		margin-left: 6px;
	}

	li.menu-item:first-child > a > .fa-mobile:before {
		color: #20aee5;
		font-size: 16px;
		margin-left: 9px;
		margin-top: 4px;
		display: block;
	}

	/* サイドバーのサブメニュー */
	.sub-menu {
		background-color: #f3f3f3;
		font-size: 12px;
		width:100%;
		margin-left: 0;
		padding: 0 10px;
	}

	.fontawesome-text {
		color: #fff;
		margin-left: 2px;
		font-weight: bold;
		font-size: 12px;
	}

	.responsive-menu-button {
		display: none !important;
	}

	/* カートアイコン */
	.woocommerce-cart-tab.woocommerce-cart-tab--has-contents > svg {
		display: none;
	}
	.woocommerce-cart-tab.woocommerce-cart-tab--has-contents:before {
		content: "\f07a" !important;
		font-family: FontAwesome;
		color: #222;
		font-size: 35px;
		position: absolute;
		bottom: 10px;
		right: 15px;
	}

	.woocommerce-cart-tab__contents {
		bottom: 35px !important;
	}
}

.storefront-handheld-footer-bar {
	display: none
}

@media screen and (max-width: 640px) { //SP
	/* 下部メニュー */

	.storefront-handheld-footer-bar ul li>a {
		text-indent: 0;
		padding: 8px;
		font-weight: bold;
	}

	.storefront-handheld-footer-bar {
		bottom: -70px;
		box-shadow: none;
		display: block;
	}

	.storefront-handheld-footer-bar ul li.cart > a:before {
		content: "\f07a" !important;
		font-family: FontAwesome;
	}

	.storefront-handheld-footer-bar ul li.search {
		width: auto;
	}

	.storefront-handheld-footer-bar ul li.search > a:before{
		position: relative;
		content: url("/wp-content/themes/child0828/images/search_btn.png");
		top: -155px;
		width: 85px;
		margin-right: auto;
		padding: 0px;
	}

	.storefront-handheld-footer-bar ul li > a:before {
		padding: 10px;
	}

	/* 右上の固定メニュー用 */
	.original-menu-toggle {
		display: none;
	}

	/* ハンバーガーメニュー */
	.handheld-navigation .fa {
		font-size: 20px;
		margin-right: 10px;
	}

	.handheld-navigation .fa.fa-mobile {
		font-size: 30px;
	}

	#menu-mobile-toggle-menu > .menu-item .sub-menu{
		display: none;
	}
}

/*============================

ヘッダー

=============================*/

.site-header {
	padding-top: 10px;
}
.original-header {
	display: flex;
} 
@media screen and (min-width: 641px) {//PC
	.original-header {
		align-items: center; padding-bottom: 10px;
	}

	.original-header .header-icon {
		height: 55px;
		margin-left: 10px;
	}

	.original-header .header-tel {
		margin-right: 15px;
	}

	.original-header-left, .original-header-right {
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
	}

	.original-header-left {
		width: 30%;
		justify-content: flex-start;
	}

	.original-header-right {
		width: 70%;
		justify-content: flex-end;
	}
}

@media screen and (max-width: 640px) {//SP
	.original-header {
		margin-top: -10px;
	}

	.original-header a{
		color: #333333;
	}

	.button-area > .title-logo {
		width: 50%;
	}

	.button-area > .circle {
		width: 21%;
		margin-left: 3%;
	}

	.button-area > .square {
		width: 19%;
		margin-left: 2%;
	}

	.original-header > #site-navigation {
		justify-content: flex-start;
	}
}

.original-header-sp > .responsive-menu-area {
	display: flex;
	margin-right:auto;
	font-size:1.5em;
	width:15%;
}

#responsive-menu {
	margin-top: 70px !important;
}

#responsive-menu-button{
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
}

.original-header-sp > .original-header-left-sp img {
	height: 40px;
}

.original-header-sp > .button-area {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 10px 0px 10px;
}

.original-header-sp > .button-area ul {
	list-style: none;
	margin: 0px;
}

.original-header-sp > .button-area li {
	display: inline-block;
}

.original-header-sp > .button-area li > a {
	font-size: 14px;
	padding-top: 25px;
	display: inline-block;
	position:relative;
	width: 40px;
}

.original-header-sp > .button-area ul li a:before {
	font-family: FontAwesome;
	position: absolute;
	top: -10px;
	font-size: 2em;
}

.original-header-sp > .button-area ul li.search a:before {
	content: "\f002";
}

.original-header-sp > .button-area ul li.cart a:before{
	content: "\f07a";
}

.original-header-sp > .button-area ul li.cart span{
	text-indent: 0;
	display: block;
	width: 2em;
	height: 2em;
	line-height: 2;
	box-sizing: content-box;
	font-size: .75em;
	position: absolute;
	top: .875em;
	left: 50%;
	border-radius: 100%;
	border: 1px solid;
	margin-top: -30px;
	text-align: center;
	background-color: #333333;
	color: white;
	font-weight: bold;
}

/*============================

フッター

=============================*/

.site-info { display: none; }

/* フッターメニュータイトル用 */
.footer-title {
	display: flex;
	padding: 10px 0;
}

.footer-title > img {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

/* フッターメニューのお問合わせのテキスト */
.footer-contact {
	font-size: 14px;
}

.footer-contact>a {
	text-decoration: underline;
}

.footer-contact>.title {
	font-size: 16px;
	font-weight: bold;
}

.footer-title, .footer-menu {
	font-size: 12px;
}

@media screen and (min-width: 641px) {//PCオンリー
	.footer-widgets {
		padding-top: 10px;
	}

	.footer-widgets .widget {
		margin: 0 0 15px;
	}

	.site-info {
		padding: 0;
	}
}

@media screen and (max-width: 640px) {//SPオンリー
	.footer-contact {
		font-size: 12px;
	}

	.menu-column {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.menu-column > li {
		width: 50%;
		padding-top: 5px;
	}

	.widget {
		margin: 0 0 30px;
	}

	/* 下部メニュー */
	.storefront-handheld-footer-bar ul li>a {
		text-indent: 0;
		padding: 8px;
		font-weight: bold;
		font-size: 14px;
	}

	.storefront-handheld-footer-bar ul li > a:before {
		padding: 10px;
	}
}


/*============================

グロナビ

=============================*/

@media screen and (min-width: 641px) {//PCオンリー
	.original-gnavi {
		background-color: #f3f3f3;
	}

	ul.nav-menu > li {
		border-right: solid thin;
		border-bottom: solid thin #fff;

	}

	ul.nav-menu > li:first-child {
		border-left: solid thin;
	}

	ul#menu-gnavi ul.sub-menu {
		width: 100%;
		padding: 0;
		transition-delay: 700ms;
		-webkit-transition-delay: 700ms;
	}

	ul#menu-gnavi:hover ul.sub-menu {
		transition-delay: 0ms;
		-webkit-transition-delay: 0ms;
	}

	.main-navigation ul ul li {
		width: 100%;
		border-bottom: solid thin #000;
		padding: 5px 0;
	}

	.main-navigation ul.menu ul li a {
		width: 100%;
	}
}

/* グロナビ */
#menu-mobile-gnavi {
	display: flex;
	width: 100%;
	margin: 0;
}

#menu-mobile-gnavi > li {
	list-style: none;
	width: 25%;
	background-color: #03a9f4;
	border-right: solid 2px #fff;
	padding: 5px;
	color: #fff;
	margin-bottom: 0;
	text-align: center;
}

#menu-mobile-gnavi .fontawesome-text {
	font-size: 12px;
	display: block;
}

#menu-mobile-gnavi .fa {
	font-size: 25px;
	display: block;
	margin: 5px 0;
}

#menu-mobile-gnavi .fa-mobile {
	font-size: 35px;
	margin-bottom: 0;
	margin-top: 0;
}

#menu-mobile-gnavi>li:last-child {
	border-right: none;
}

#menu-mobile-gnavi>li>a {
	color: #fff;
}


/*============================

オリジナルスマホケースマガジン

=============================*/

.category-magazine .text-center{
	text-align: center;
}

.category-magazine ul.page-numbers {
	border-radius: 4px;
	display: inline-block;
	margin: 20px 0;
	padding-left: 0;
}
.category-magazine ul.page-numbers > li {
	display: inline;
}
.category-magazine ul.page-numbers > li > a ,
.category-magazine ul.page-numbers > li > span {
	background-color: #ffffff;
	border: 1px solid #000;
	color: #000;
	float: left;
	line-height: 1.42857;
	margin-left: -1px;
	padding: 6px 12px;
	position: relative;
	text-decoration: none;
}
.category-magazine ul.page-numbers > li:first-child > a {
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	margin-left: 0;
}
.category-magazine ul.page-numbers > li:last-child > a {
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}
.category-magazine ul.page-numbers > li > a:hover {
	background-color: #eeeeee;
	border-color: #000;
	color: #2a6496;
}
.category-magazine ul.page-numbers .current{
	background-color: #000;
	border-color: #000;
	color: #ffffff;
	cursor: default;
	z-index: 2;
}

.category-magazine .entry-header .posted-on,
.category-magazine .entry-meta,
.category-magazine .post-navigation,
.category-magazine .comments-area {
	display: none;
}

.category-magazine .entry-content {
	width: 100% !important;
}


ul.magazine-list {
	list-style: none;
	margin-left: 10px;

}

ul.magazine-list li {
	display: flex;
	width: 100%;
	padding: 20px 0;
	border-bottom: solid thin #ccc;
}

ul.magazine-list a {
	color: #333;
	font-weight: bold;
}

ul.magazine-list a:hover {
	text-decoration: underline;
}

.magazine-thumbnail {
	width: 30%;
}

.magazine-thumbnail > img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.magazine-description {
	width: 70%;
	position: relative;
	padding: 10px;
}

.magazine-description .time {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	margin: 0;
	font-size: 12px;
}

.new-arrivals {
	display: flex;
	color: #fff;
}

.new-arrivals a {
	color: #fff;
	font-weight: bold;
}

.new-arrivals a:hover {
	text-decoration: underline;
}

.new-arrivals .new-arrival {
	width: 50%;
	position: relative;
}

.new-arrival:after {
	content: "new";
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	background-color: #ff0000;
	font-size: 22px;
	margin-top: -20px;
	border: solid;
	z-index: 300;
}

.new-arrival .thumbnail {
	padding: 10px;
}

.new-arrival .description {
	position: absolute;
	bottom: 0;
	margin: 10px;
	padding: 10px 15px;
	background: rgba(0, 0, 0, 0.5);
}

.new-arrival p.time {
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 10px;
	font-size: 12px;
}


@media screen and (max-width: 640px) {
	.new-arrivals .new-arrival {
		width: 100%;
		margin-bottom: 15px;
	}

	.new-arrivals {
		display: block;
	}

	.new-arrival p.time {
		font-size: 10px;
	}

	.new-arrival .thumbnail {
		padding: 0;
	}

	.magazine-description {
		font-size: 12px;
		width: 60%;
	}

	.magazine-thumbnail {
		width: 40%;
	}

	.magazine-description .time {
		padding: 0;
	}	
}//SP
